# Virtual Environment
venv/
env/

# Python Cache
__pycache__/
*.py[cod]

# Environment Variables
.env

# Database
*.db
*.sqlite3

# FAISS
*.faiss
*.pkl

# Uploads
uploads/

# IDE
.vscode/
.idea/

# Logs
*.log

# Windows
Thumbs.db

# macOS
.DS_Store